<div class = "main_content">
    <div class = "main_content_title">
        <h1> <%= blogData.title %></h1>
    </div>
    <div class = "main_content_author">
        <h1> <%= blogData.nameAuthor %></h1>
    </div>
    <div class = "main_content_content"> 
        <p> <%= blogData.content %></p>
    </div>
    <% for( let index = 0; index < data.tagData.length; index++ ) { %>
        <div class = "main_content_tag">
            <p class = "main_content_tag_text">
                <%= tagData[index] %>
            </p>
        </div>
    <% } %>
</div>