.main_content
{
    min-height: 200px;
    width: 60%;
    margin: 0 auto;
    height: 400px;
    position: absolute;
    left: 20%;
}

.main_content_title
{
    position: relative;
    right: 33%;
}

.main_content_title h1
{
    color: black;
    font-size: 28px;
}

.main_content_author
{
    position: relative;
    right: 41%;
}

.main_content_author h1
{
    color: black;
    font-size: 20px;
    font-style: italic;
    font-weight: 400px;
}

.main_content_content
{
    position: relative;
    padding-top: 15px;
    left: 2%;

}

.main_content_content p1
{
    color: black;
}

.main_content_tag
{
    border: 2px solid green;
    border-radius: 15px;
    display: inline-block;
    position: relative;
    margin-top: 12px;
    left: 95%;
    bottom: 150px;
}

.main_content_tag_text
{
    font-size: 10px;
    color: darkgreen;
    font-weight: 700;
    margin: 5px;
    margin-left: 15px;
    margin-right: 15px;
}


