.header
{
    width: 100%;
    height: 5%;
    font-weight: bold;
    border-bottom: 1px solid black;
    margin: 0px 0px 10px 0px;
    display: grid;
    grid-template-columns: 0.1fr 0.9fr;
    grid-template-areas: 'Logo LinksSearch';
    position: relative;
    background-color: white;
}

.Header_Image
{
    grid-area: Logo;
    position: absolute;
    margin: 0 auto;
    display: block;
}

#Header_Display_Image
{
    color: silver;
    opacity: 1.0;
    margin-left: 10px;
}

.Header_Links
{
    grid-area: LinksSearch;
    position: relative;
}

.Header_Links > ul
{
    padding: 0px;
    margin: 0 auto;
    position: absolute;
    right: 12%;
    top: 25%;
}

.Header_Links li
{
    list-style: none;
    display: inline-block;
    margin: 0px 20px 0px 20px;
    bottom: 5px;
    right: 10px;
}

.Header_Links a
{
    font-size: 18px;
    text-decoration: inherit;
    font-weight: 500;
    font-family: 'Baloo Bhaina 2', cursive;
    color: gray ;
    position: relative;
}

.Header_Links a::before
{
    content: '';
    display: block;
    color: black;
    border-top: 1px solid black;
    width: 0%;
    transition: width 0.4s;
    position: absolute;
}

.Header_Links li a:hover
{
    font-weight: bold;
    color: black;
    text-decoration: none !important;
}

.Header_Links a:hover::before
{
    position: absolute;
    width: 80%;
}

#Header_Search_Bar
{
    border-radius: 10px;
    box-shadow: none;
    position: absolute;
    top: 38%;
    right: 1%;
    width: 10%;
}

#Header_Search_Bar:focus
{
    outline: none;
    box-shadow: 2px 2px 1px;
}

#Header_Search_Bar::placeholder
{
    position: relative;
    left: 2px;
}

#Header_Search_Button
{
    margin-left: -20px;
    position: absolute;
    top: 41%;
    right: 1.1%;
    opacity: 0.7;
    border: none;
}

@media only screen and (max-width: 700px)
{
    .header
    {
        grid-template-areas: 'LinksSearch';
        grid-template-columns: 1.0fr;
    }

    .Header_Image
    {
        display: none;
    }

    .Header_Links > ul
    {
        left: 0;
    }

    .Header_Links li
    {
        margin: 0px 0px 0px 10px;
        bottom: 5px;
        right: 10px;
    }

    .Header_Links a
    {
        font-size: 13px;
    }

    #Header_Search_Bar
    {
        border-radius: 10px;
        bottom: 15%;
    }

    #Header_Search_Bar::placeholder
    {
        color: white;
    }

    #Header_Search_Button
    {
        border-radius: 10px;
        position: absolute;
        top: 40%;
        width: 8px;
        height: 8px;
    }
}

@media only screen and (max-width: 1024px )
{

}




