<!DOCTYPE html>
<html>
    <head>
        <title> Home </title>
         <%- include("controls/header") %>
    </head>
        <body>
           <h1> Congratulations, your file has been successfully uploaded. </h1>
        </body>
</html>