<!DOCTYPE html>
<html>
    <head>
        <title> Home </title>
         <%- include("controls/header") %>
    </head>
        <body>
            <%- include("controls/mainImage") %>
            <div class = "input">
                <form action = "/", method = "POST", enctype="multipart/form-data" class = "input_form">
                    <input type = "file" name = "filename">
                    <label for = "title"> Enter a Title for the Blogpost</label>
                    <input type = "text" name = "title" value = "title">
                    <label for = "title_pic"> Enter a URL for the Title Picture</label>
                    <input type = "url" name = "title_pic" value = "title_pic"> 
                    <label for = "tags" class = "label_input_tags"> Enter a tags for the blogpost, seperated by a comma</label>
                    <input type = "text" name = "tags" value = "tags" class = "input_tags">
                    <input type = "submit" value = "upload" class = "input_submit_button">
                </form>
            </div>
        </body>
</html>